# compiled output
services/**/dist
services/**/node_modules
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# next.js
services/**/.next/
services/**/out/

# production
services/**/build

# misc
*.pem

# debug
.pnpm-debug.log*

# local env files
.env*.local
.env
.env.*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

package-lock.json
test.js
